/* IMPORTANDO AS FONTES */
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}
/* ------------------------- */
html {
    scroll-behavior: smooth;
}
section {
    height: 100vh;
    scroll-margin-top: 70px;
}
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden; 
}
/* SECTION - INÍCIO --------------------------------------------- */
.inicio {
    background-image: url('../img/Imagens-Site/bannerPrincipal.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#nav-logotipo {
    width: 13vw;
    height: auto;
    display: flex;
    align-items: center;
}
#nav_logotipo_soytrack {
    width: 100%;
}
#nav-links ul {
    list-style: none;
    display: flex;
    gap: 35px;
    padding: 0;
    margin: 0;
}
#nav-links li a{
    position: relative;
    text-decoration: none;
    color: #000;
    padding: 5px 0;
    transition: color 0.3s ease;
    color: white;
    cursor: pointer;
}
#nav-links li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 3px;
    background-color: white;
    transition: width 0.3s;
}
#nav-links li a:hover::after,
#nav-links li a:focus::after {
    width: 100%;
}
#nav-links li a:focus {
    color: white;
}

.button-contorno {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    border-width: 2px ;
    border-color: white;
    border-style: solid;
    background-color: transparent;
    color: white;
    font-weight: 600;
    text-decoration: none;
}
.button-contorno:hover {
    background-color: white;
    color: rgb(54, 114, 156);
    transition: 0.2s;
}
.button-preenchido {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    cursor: pointer;
    padding: 12px;
    border-radius: 10px;
    border: none;
    color:rgb(54, 114, 156);
    background-color: white;
    font-weight: 600;
}
.button-preenchido:hover {
    background-color: transparent;
    color: white;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    padding: 10px;
}
/* NAV QUANDO HOUVER SCROLL NA PÁGINA*/
#navbar.scrolled {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#navbar.scrolled  li a {
    font-weight: 500;
    color: #1e2a38db;
}
#navbar.scrolled  .button-contorno {
    color: #1c9700;
    border-color: #1c9700;
}
#navbar.scrolled  .button-preenchido {
    background-color: #1c9700;
    color: white;
}
#navbar.scrolled li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 3px;
    background-color: #009705;
    transition: width 0.3s;
}
#navbar.scrolled li a:hover::after,
#navbar.scrolled li a:focus::after {
    width: 100%;
}
/* #navbar.scrolled li a:focus {
    color:  #1c9700;
} */
#navbar.scrolled .button-contorno:hover {
    background-color: #1c9700;
    color: white;
}
#navbar.scrolled .button-preenchido:hover {
    color: #1c9700;
    border-color: #1c9700;
    background-color: transparent;
}
/*-------------------*/
section#inicio {
    padding-top: 5%;
}
#conteudo-banner {
    padding-left: 5%;
}
#text-banner {
    font-size: 80px;
    line-height: 1px;
    font-weight: 700;
    padding-top: 3%;
    color: white;
}
#falsoButton-saibaMais-banner {
    display: inline-block;
    padding: 15px;
    border-width: 3px;
    width: 10%;
    border-radius: 17px;
    text-align: center;
    font-size: 18px;
}
#falsoButton-saibaMais-banner:hover {
    color: #76563f;
}
/*SECTION - NOSSA SOLUÇÃO ---------------------------------------*/
.nossa-solucao {
    width: 100vw;
}
#conteudo-nossaSolucao {
    padding-top: 1.5%;
    display: flex;
    width: 100%;
}
#div_imagemContexto {
    width: 45%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
#div_textoNossaSolucao {
    width: 55%;
}
#tracoAcimaDoTexto {
    display: flex;
    padding-top: 5%;
    padding-left: 8%;
}
#traco-marrom {
    padding-left: 5%; 
    background-color: #ac4800; 
    height: 15px; 
    width: 35%;
}
#traco-apoio-branco {
    background-color: #ffffff; 
    height: 10px; 
    width: 55%;
}
#imagemContexto {
    width: 80%;
    padding: 5% 15%;
}
#div_textNossaSolucao {
    width: 100%;
    height: 100vh;
}
.titulo {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: 900;
    padding-left: 8%;
    line-height: 20px;
    color: #1e2a38;
}
#texto_topicos {
    padding-left: 8%;
    padding-right: 15%;
    text-align: justify;
}
#texto_topicos ul{
    padding-left: 5%;
}
.texto {
    font-size: 17px;
    width: 100%;
}
/* SECTION - INTEGRANTES ---------------------------------------- */
/* hr{
    border-color:#aaa;
    box-sizing:border-box;
    width:100%;  
} */
.imagem-integrante {
    display: flex;
    align-items: center;
    height: 30%;
    width: 30%;
    flex-direction: column;
}

.section-fileira1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3%;
}
.section-fileira2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#integrante {
    width: 50%;
    height: 90%;
    border: 10px solid green; 
    border-radius: 100%;
}


.mains {
  display: flex;
    }


.cardsol{
    margin: 80px;
    background-color: rgb(255, 255, 255);
    color: #202020;
    border-radius: 10px;
    padding-bottom: 1%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cardsol>img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.titulo-integrantes {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: 900;
    /* padding-left: 8%; */
    line-height: 40px;
    color: #1e2a38;
    display: flex;
    justify-content: center;

}

#titulo-card {
    text-align: center;
    font-size: 15px;
    line-height: 1px;
    font-weight: 600;
    padding-top: 3%;
    color: rgba(235, 155, 8, 0.932);
}

#titulo-card2 {
    text-align: center;
    font-size: 15px;
    line-height: 1px;
    font-weight: 600;
    padding-top: 3%;
    color: rgba(5, 148, 0, 0.932);
}

#texto-card {
    text-align: center;
    font-size: 15px;
    line-height: 1px;
    font-weight: 450;
    padding-top: 3%;
    color: rgba(0, 0, 0, 0.932);
}


/* SECTION - FALE CONOSCO --------------------------------------- */
.faleconosco {
    display: flex;
    flex-direction: column;
    background-image: url('../img/Imagens-Site/fundoFaleConosco.png');
}


.titulo-faleconosco {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: 900;
    line-height: 20px;
    color: #ffffff;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 2%;
}

.conteudo-fale-conosco {
    display: flex;
    flex-direction: row;
    height: 60%;
}

.imagem-mulher {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

#mulher {
    width: 50%;
    height: 90%;
    border: 10px solid white; 
    border-radius: 100%;
}

.contato {
    /* padding-right: 5%; */
    /* padding-left: 5%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    gap: 20px;
}
label {
    font-weight: 600;
}
.nome-sobrenome {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20%;
    padding-right: 10%;
}
.nome-sobrenome label {
    display: block;
    width: 100%;
}
input {
    margin: 0;
    padding: 0;
}
.inputFaleConosco {
    height: 40px;
    text-indent: 10px;
    font-size: 17px;
}
.campo {
    color: white;
    display: flex;
    flex-direction: column;
    width: 90%;
}
.campo #nome {
    width: 90%;
}
.labelFaleConosco {
    padding-bottom: 1%;
}

#nome {
    width: 80%;
    /* height: 50px; */
    border-radius: 15px;
    border: solid white;
}

#sobrenome {
    width: 80%;
    /* height: 50px; */
    border-radius: 15px;
    border: solid white;
}

#email {
    width: 100%;
    /* height: 50px; */
    border-radius: 15px;
    border: solid white;
}

#mensagem {
    width: 96%; 
    padding: 2% 2%;
    font-size: 17px;
    resize: vertical;
    border-radius: 15px;
    border: solid white;
}

#botao-enviar {
    width: 91%;
    padding:15px;
    border-radius: 15px;
    border: none;
    background-color: #ac4800;
    color: white;
    font-size: 17px;
    font-family: Montserrat;
}
#botao-enviar:hover {
    background-color: #893900;
    cursor: pointer;
    transition: 0.3s;
}
/* SECTION - SIMULADOR FINANCEIRO ------------------------------- */
.titulo-simulador {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: 900;
    padding-top: 3% 0;
    color: #1e2a38;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 1%;
}
.content {
    height: 65%;
    display: flex;
    justify-content: center;
    padding-left: 4%;
    padding-right: 4%;
}

.conteudo-financeiro {
    background-color: white;
    width: 45%;
    height: 100%;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.txt-simulador {
    width: 80%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20%;
}
#resultados {
    height: 20vh;
}
.txt-resultado {
    margin-bottom: 30px;
}
.info-box-simulador {
    margin-left: 0.5%;
    height: 100%;
    width: 45%;
}
.card-simulador {
    display: flex;
    display: column;
    background-color: white;
    height: 31%;
    margin-bottom: 2.5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.imagem-card-simulador{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
}
.card-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 75%;
}
.titulo-card-verde{
    padding: 0;
    margin: 0;
    color:#1c9700;
    font-size: 140%;

}
.card-circulo {
    background:#1c9700;
    border-radius: 50%;
    width: 70%;
    height: 70%;
}
.ipt-simulador {
    padding: 1%;
    margin-bottom: 5%;
    text-indent: 3%;
    font-size: 100%;
    width: 67%;
}
.button-simulador {
    font-size: 100%;
    width: 70%;
    padding: 2% 5%;
    margin-bottom: 5%;
}

