body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}
      /*---- LADO ESQUERDO ---- */
.lado_esquerdo {
/*flex: 1; -- Usa a metada da tela*/
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.lado_esquerdo h1 {
    color: #003366;
    margin: 0%;
    font-size: 260%;
}

.lado_esquerdo label {
    width: 150%;
    max-width: 62%;
    margin-bottom: 1%;
    font-weight: bold;
    color: #003366;
    font-size: 140%;
}
#nivel_label_cadastro{
    width: 180%;
    max-width: 62%;
    margin-bottom: 1%;
    font-weight: bold;
    color: #003366;
    font-size: 25px;
}

.lado_esquerdo input {
    width: 100%;
    max-width: 400px;
    padding: 1.5%;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #eee;
    width: 400px;
}

.lado_esquerdo button {
    width: 110%;
    max-width: 62%;
    margin-bottom: 1%;
    padding: 1.8%;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.link_login_esqueci_senha{
   width: 62%;
}



      /* ----LADO DIREITO ---- */
.lado_direito {
    flex: 1;
    background-image: url('../img/Imagens-Site/imgLogin.png');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    position: relative;
}

.lado_direito_cadastro {
    flex: 1;
    background-image: url('../img/Imagens-Site/imgCadastro.png');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    position: relative;
}



.input_cadastro_login{
    font-size: 100%;
}
.ipt_nivel_alinhamento{
    display: flex;
    padding-bottom: 2%;
    margin-bottom: 3%;
}


.lado_direito-itens h2 {
    font-size: 300%;
    margin-bottom: 0px;
}

.lado_direito-itens p {
    font-size: 170%;
    max-width: 700px;
}
.lado_direito-itens b {
    font-size: 100%;    
    max-width: 700px;
}

.lado_direito-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
}

#logo-login{
    width: 50%;
    padding-bottom: 6%;
}

#entrar {
  color:white;
}