@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    display: flex;
    height: 100vh;
}
      /*---- LADO ESQUERDO ---- */
.lado_esquerdo {
/*flex: 1; -- Usa a metada da tela*/
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lado_esquerdo h1 {
    color: #003366;
    margin: 0%;
    font-size: 220%;
    font-family: "Poppins";
}

.lado_esquerdo label {
    width: 150%;
    max-width: 62%;
    margin-bottom: 1%;
    font-weight: bold;
    color: #003366;
    font-size: 110%;
}
#nivel_label_cadastro{
    width: 180%;
    max-width: 62%;
    margin-bottom: 1%;
    font-weight: bold;
    color: #003366;
    font-size: 110%;
}

.lado_esquerdo input {
    width: 110%;
    font-size: 90%;
    padding: 1.5%;
    margin-bottom: 1%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #eee;
}

.lado_esquerdo button {
    width: 110%;
    margin-top: 4%;
    max-width: 64%;
    margin-bottom: 1%;
    padding: 1.5%;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 100%;
    cursor: pointer;
}

.link_login_esqueci_senha{
   width: 62%;
   font-size: 70%;
}

#id_link_login_esqueci_senha{
    width: 62%;
   font-size: 110%;
}

      /* ----LADO DIREITO ---- */
.lado_direito {
    flex: 1;
    background-image: url('../img/Imagens-Site/imgLogin.png');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    position: relative;
}

.lado_direito_cadastro {
    flex: 1;
    background-image: url('../img/Imagens-Site/imgCadastro.png');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    position: relative;
}
.lado_esquerdo p{
    font-size: 80%;
    color: darkblue;
}
.input_cadastro_login{
    font-size: 70%;
    max-width: 62%;
}
.qinput_cadastro_login{
    font-size: 90%;
    max-width: 62%;
}

.input_cadastro_login{
    font-size: 70%;
    max-width: 62%;
}
/* .ipt_nivel_alinhamento{
    display: flex;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 60%;
}
.ipt_nivel_alinhamento select{
    width: 60%;
    height: 80%;
} */

.lado_direito-itens h2 {
    font-size: 280%;
    margin-bottom: 0px; 
}

.lado_direito-itens p {
    font-size: 150%;
    max-width: 700px;
}
.lado_direito-itens b {
    font-size: 100%;    
    max-width: 700px;
}

.lado_direito-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
}

#logo-login{
    width: 50%;
    padding-bottom: 6%;
}

#entrar {
  color:white;
}